@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/images/logo/6.png" type="image/png" />
    <title>Braino Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">


    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11418723675">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11418723675');
    </script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="~/Products/Allproducts"><img src="~/images/logo/5.png" alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="~/Products/Allproducts">Home</a></li>


                                        <li class="drop">
                                            <a href="~/Products/Biometrics?str=fingerprint">Biometrics</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                            </ul>
                                        </li>

                                        <li class="drop"><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>
                                        <li class="drop">
                                            <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop">
                                            <a href="~/Products/Smartphone?str=Smartphone">Mobile</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/Mobile?str=Smartphone">Mobile</a></li>

                                                <li><a href="~/Products/MobileAccessories?str=Smartphone Accessories">Mobile Accessories</a></li>

                                            </ul>
                                        </li>

                                        <li class="drop">
                                            <a href="#">Contact</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </nav>
                                <!--//////////////Mobile Menu///////////////////-->
                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="~/Products/Allproducts">Home</a></li>


                                            <li>
                                                <a href="~/Products/Biometrics?str=fingerprint">Biometrics Products</a>
                                                <ul>
                                                    <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                    <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                    <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>

                                            <li>
                                                <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                                <ul>
                                                    <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                    <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                    <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                    <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                    <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                    <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                                </ul>
                                            </li>


                                            <li>
                                                <a href="~/Products/Smartphone?str=Smartphone">Mobile And Tablets</a>
                                                <ul>
                                                    <li><a href="~/Products/Mobile?str=Phone">Mobile</a></li>
                                                    <li><a href="~/Products/Tablets?str=Tablet">Tablets</a></li>
                                                    <li><a href="~/Products/MobileAccessories?str=Mobile">Mobile Accessories</a></li>

                                                </ul>
                                            </li>

                                            <li>
                                                <a href="~/Contacts/AboutUs">Contact</a>
                                                <ul>
                                                    <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                    <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                    <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                    <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                    <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                    <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                    <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                                </ul>

                                            </li>

                                        </ul>
                                    </nav>
                                </div>

                                <!--//////////////Mobile Menu///////////////////-->
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
                                        @if (ViewBag.uname != null)
                                        {
                                            <a style="font-weight:600; font-size:11px" href="~/Products/Myaccount">You</a>
                                            <a style="color:#C43B68;font-weight:600; font-size:11px" href="~/Products/


ut">Logout</a>
                                        }
                                        else
                                        {
                                            <a style="font-size:15px" href="~/Products/UserLogin">Login</a>

                                        }
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a asp-controller="Products" asp-action="Cart"><i class="icon-handbag icons"></i></a>
                                        <a href="#"><span class="htc__qua">@ViewBag.count</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form asp-action="Product_Search" asp-controller="Products" method="get">
                                    <input placeholder="Search here... " type="text" name="str">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area
            <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(~/images/bg/4.jpg) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bradcaump__inner">
                                    <nav class="bradcaump-inner">
                                      <a class="breadcrumb-item" href="index.html">Home</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <a class="breadcrumb-item" href="product-grid.html">Products</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <span class="breadcrumb-item active">ean shirt</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        End Bradcaump area -->
        <!-- Start Product Description -->
        <br /><br />
        <section class="htc__produc__decription bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ht__pro__details__content">
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Preface :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px;font-family:Arial, Helvetica, sans-serif;">
                                        These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions infull.However, you mustn’t use this website, If you differ with these terms and conditions or any part of these terms and conditions.

                                        Use of Braino Services or totem or any other donation of Braino Services for any other representation is rigorously Probhited without the authorization of Braino Services.

                                        You must be at least 18 times of age to use this website. By using this website and by agreeing to these terms and conditions you warrant and represent that you’re at least 18 times of age.

                                        This website uses eyefuls. By using this website and agreeing to these terms and conditions, you assent to our Braino Services use of eyefuls in agreement with the terms of Braino Services’s sequestration policy/ eyefuls policy.
                                        <br><br />Goods Uses :<br><br />

                                        Goods Vended on Braino Services are Direct to the end- druggies, they aren’t for resale. No ITC will be handed for the goods vended on Braino Services. Presently, We don’t support B2b deals.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">License to use website :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Unless else stated, Braino Services and/ or its licensors enjoy the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.

                                        You may view, download for caching purposes only, and print runners or OTHER CONTENT from the website for your own particular use, subject to the restrictions set out below and away in these terms and conditions.

                                        You must not

                                        republish material from this website ( including republication on another website);

                                        sell, rent, orsub-license material from the website;

                                    </p>
                                    <ul style="list-style:disc; ">
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">show any material from the website in public;</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">reproduce, duplicate, copy or else exploit material on this website for a marketable purpose;</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">edit or else modify any material on the website; or</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">redistribute material from this website except for content specifically and expressly made available for redivision.</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">Where content is specifically made available for redivision, it may only be redistributed within your association.</p></li>

                                    </ul>
                                </div>
                            </div>
                            <br />
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Respectable use :</h3>
                                    <br />

                                    <ul style="list-style:disc;">
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">You mustn’t use this website in any way that causes, or may beget, damage to the website or impairment of the vacuity or availability of the website; or in any way which is unlawful, illegal, fraudulent or dangerous, or in connection with any unlawful, illegal, fraudulent or dangerous purpose or exertion.</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;"> You mustn’t use this website to copy, store, host, transmit, shoot, use, publish or distribute any material which consists of (or is linked to) any spyware, computer contagion, Trojan steed, worm, keystroke jack, rootkit, or other vicious computer software.</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;" >You mustn’t conduct any methodical or automated data collection conditioning ( including without limitation scraping, data mining, data birth, and data harvesting) on or in relation to this website without Braino Services express written concurrence.</p></li>
                                        <li>
                                            <p style="font-family:Arial, Helvetica, sans-serif;">
                                                You mustn’t use this website to transmit or shoot unasked marketable dispatches.

                                                You mustn’t use this website for any purposes related to marketing without Braino Services express written concurrence.
                                            </p>
                                        </li>
                                       

                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Content -->

                            <br />

                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Confined access :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Access to certain areas of this website is confined. Braino Services reserves the right to circumscribe access to other areas of this website, or indeed this entire website, at Braino Services ’S discretion.

                                        Still, you must insure that the stoner ID and word are kept nonpublic, If Braino Services provides you with a stoner ID and word to enable you to pierce confined areas of this website or other content or services.

                                        Braino Services may disable your stoner ID and word in Braino Services ’S sole discretion without notice or explanation.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Stoner content :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        In these terms and conditions, “ your stoner content” means material ( including without limitation textbook, images, audio material, videotape material, and audio-visual material) that you submit to this website, for whatever purpose.

                                        You grant to Braino Services a worldwide, irrevocable,non-exclusive, kingliness-free license to use, reproduce, acclimatize, publish, restate and distribute your stoner content in any being or unborn media. You also grant Braino Services the right tosub-license these rights, and the right to bring an action for violation of these rights.

                                        Your stoner content mustn’t be illegal or unlawful, mustn’t infringe any third party’s legal rights, and mustn’t be able of giving rise to legal action whether against you or Braino Services or a third party (in each case under any applicable law).

                                        You mustn’t submit any stoner content to the website that’s or has ever been the subject of any threatened or factual legal proceedings or another analogous complaint.

                                        Braino Services reserves the right to edit or remove any material submitted to this website, or stored on Braino Services ’S waiters, or hosted or published upon this website.

                                        Notwithstanding Braino Services ’S rights under these terms and conditions in relation to stoner content, Braino Services doesn’t shoulder to cover the submission of similar content to, or the publication of similar content on, this website.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">No guaranties :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        
                                        This website is handed “ as is” without any representations or guaranties, express or inferred. Braino Services makes no representations or guaranties in relation to this website or the information and accoutrements handed on this website.

                                        Without prejudice to the generality of the anteceding paragraph, Braino Services doesn’t warrant that

                                        this website will be constantly available, or available at all; or
                                        the information on this website is complete, true, accurate, ornon-misleading.
                                        Nothing on this website constitutes or is meant to constitute, advice of anykind.However, fiscal or medical matter you should consult an applicable professional, If you bear advice in relation to any legal.


                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Limitations of liability :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Braino Services won’t be liable to you (whether under the law of contact, the law of torts, or else) in relation to the contents of, or use of, or else in connection with, this website


                                    </p>


                                    <ul style="list-style:disc; ">
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">to the extent that the website is handed free-of- charge, for any direct loss;</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">for any circular, special, or consequential loss; or</p></li>
                                        <li><p style="font-family:Arial, Helvetica, sans-serif;">for any business losses, loss of profit, income, gains or anticipated savings, loss of contracts or business connections, loss of character or goodwill, or loss or corruption of information or data.</p></li>
                                        
                                        

                                    </ul>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        These limitations of liability apply indeed if Braino Services has been expressly advised of the implicit loss.


                                    </p>


                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Exceptions :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Nothing in this website disclaimer will count or limit any bond inferred by law that it would be unlawful to count or limit, and nothing in this website disclaimer will count or limit Braino Services ’S liability in respect of any

                                        l death or particular injury caused by Braino Services ’S negligence;

                                        l fraud or fraudulent misrepresentation on the part of Braino Services; or

                                        l matter which it would be illegal or unlawful for Braino Services to count or limit, or to essay or purport to count or limit, its liability.


                                    </p>


                                  


                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Reasonableness :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        By using this website, you agree that the rejections and limitations of liability set out in this website disclaimer are reasonable.

                                        Still, you mustn’t use this website, If you don’t suppose they’re reasonable.

                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Other parties : </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        You accept that, as a limited liability reality, Braino Services has an interest in limiting the particular liability of its officers and workers. You agree that you won’t bring any claim tête-à-tête against Braino Services ’S officers or workers in respect of any losses you suffer in connection with the website.

                                        Without prejudice to the anteceding paragraph, you agree that the limitations of guaranties and liability set out in this website disclaimer will cover Braino Services ’S officers, workers, agents, accessories, successors, assigns, andsub-contractors as well as Braino Services.

                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Unenforceable vittles :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Still, unenforceable under applicable law, that won’t affect the enforceability of the other vittles of this website disclaimer, If any provision of this website disclaimer is or is plant to be.

                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Indemnity :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        You hereby compensate Braino Services and shoulder to keep
                                        Braino Services remunerated against any losses, damages, costs, 
                                        arrears, and charges ( including without limitation legal charges 
                                        and any quantities paid by Braino Services to a third party in agreement of a 
                                        claim or disagreement on the advice of Braino Services ’S legal counsels) incurred or 
                                        suffered by Braino Services arising out of any breach by you of any provision of these terms
                                        and conditions, or arising out of any claim that you have traduced any provision of these 
                                        terms and conditions.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Breaches of these terms and conditions : </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Without prejudice to Braino Services ’S 
                                        other rights under these terms and conditions, if 
                                        you transgress these terms and conditions in any way, 
                                        Braino Services may take similar action as Braino Services deems applicable to
                                        deal with the breach, including suspending your access to the website,
                                        proscribing you from penetrating the website, blocking computers using your 
                                        IP address from penetrating the website, reaching your internet service provider 
                                        to request that they block your access to the website and/ or bringing court
                                        proceedings against you.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Variation :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Braino Services may revise these terms and conditions from time to time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this runner regularly to insure you’re familiar with the current interpretation.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Assignment : </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Braino Services may transfer,sub-contract, or else deal with Braino Services ’S rights and/ or scores under these terms and conditions without notifying you or carrying your concurrence.

                                        You may not transfer,sub-contract, or else deal with your rights and/ or scores under these terms and conditions.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Severability :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Still, the other vittles will continue in effect, If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/ or unenforceable. However, that part will be supposed to be deleted, and the rest of the provision will continue in effect, If any unlawful and/ or unenforceable provision would be legal or enforceable if part of it were deleted.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Entire agreement : </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        

                                        These terms and conditions, together with DOCUMENTS, constitute the entire agreement between you and Braino Services in relation to your use of this website and relieve all former agreements in respect of your use of this website.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Law and governance :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">



                                        These terms and conditions will be governed by and demonstrated in agreement with GOVERNING LAW, and any controversies relating to these terms and conditions will be subject to thenon-exclusive governance of the courts of Governance.

                                        Company Shall Not pay any charges for Legal Notices transferred on behalf of any customer. in case of any disagreement please post us at grivances@Braino Services.in
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Enrollments and authorizations :  </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">



                                        Braino Services is registered as in India. Braino Services ’S enrollment number is 07AKQPG3918F1Z3.

                                        Braino Services is subject to AUTHORISATION SCHEME, which is supervised by SUPERVISORY AUTHORITY.

                                        Braino Services subscribes to the following canons of conduct Law (S) OF CONDUCT. These canons/ this law can be consulted electronically at URL (S).
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Braino Services ’S details :   </h3>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">



                                        The full name of Braino Services is Braino Services.

                                        Braino Services is registered in Delhi as Braino Services.

                                        You can contact Braino Services by dispatch to Support@Braino Services.in.
                                    </p>





                                </div>
                            </div>
                            <!-- End Single Content -->























                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Description -->
        <!-- Start Footer Area -->
        <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer">
                                <h2 class="title__line--2">ABOUT US</h2>
                                <div class="ft__details">
                                    <p>
                                        Our company “Braino Services” is a Proprietor based company that started its business in the year 2017 at Delhi, India.


                                    </p>
                                    <div class="ft__social__link">
                                        <ul class="social__link">
                                            <li> <a href="https://www.facebook.com/brainoservices/"><i class="fa fa-facebook"></i></a></li>
                                            <li> <a href="https://www.youtube.com/watch?v=vZXJo3ZAyxM"><i class="fa fa-youtube"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Customer Service</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                        <li><a href="~/Contacts/TarrifsAndSurcharges">International Tariffs Surcharges </a></li>
                                        <li><a href="~/Contacts/ReturnPolicy">Refund  Policy</a></li>
                                        <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                        <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                        <li><a href="~/Contacts/BillingTerms">Billing Term And Condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Quick Links</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Products/Byget">Buy 1 get 1 Free</a></li>
                                        <li><a href="~/Products/Bulk">Bulk Order</a></li>
                                        <li><a href="~/Products/FingerPrint?str=Fingerprint">Biometric Products</a></li>
                                        <li><a href="~/Products/Aadhaar">Aadhaar Product And Accessories</a></li>
                                        <li><a href="~/Products/Accessories?str=Accessories">Laptop And Accessories</a></li>
                                        <li><a href="~/Home/Privacy">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Contact Us</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">Building No. 135,</a></li>
                                        <li><a href="#">Street No. 54 T,</a></li>
                                        <li><a href="#">Ist 60 Feet Road, Molarband Ext.</a></li>
                                        <li><a href="#">Badarpur New Delhi 110044.</a></li>
                                        <li>
                                            <a href="#">
                                                +917011591226

                                            </a>
                                            <a href="https://Brainoservices.in">
                                                info@Brainoservices.co.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h4 style="color:#fff;">Payment</h4>
                                <p style="color:gray; ">You can trust us</p>
                                <img style="height:350px; width:268px;" class="img-fluid" src="~/image/qrcodeforpayment.jpeg" />
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
            <!-- Start Copyright Area -->
            <div class="htc__copyright bg__cat--5">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Copyright© Braino Services <p>2023. All rights reserved. Designed & developed by Braino Services Powered by Braino Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/js/main.js"></script>

</body>

</html>





