@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/images/logo/6.png" type="image/png" />
    <title>Braino Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
   
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">


    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11418723675">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11418723675');
    </script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="~/Products/Allproducts"><img src="~/images/logo/5.png" alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="~/Products/Allproducts">Home</a></li>


                                        <li class="drop">
                                            <a href="~/Products/Biometrics?str=fingerprint">Biometrics</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                            </ul>
                                        </li>

                                        <li class="drop"><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>
                                        <li class="drop">
                                            <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop">
                                            <a href="~/Products/Smartphone?str=Smartphone">Mobile</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/Mobile?str=Smartphone">Mobile</a></li>

                                                <li><a href="~/Products/MobileAccessories?str=Smartphone Accessories">Mobile Accessories</a></li>

                                            </ul>
                                        </li>

                                        <li class="drop">
                                            <a href="#">Contact</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </nav>
                                <!--//////////////Mobile Menu///////////////////-->
                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="~/Products/Allproducts">Home</a></li>


                                            <li>
                                                <a href="~/Products/Biometrics?str=fingerprint">Biometrics Products</a>
                                                <ul>
                                                    <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                    <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                    <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>

                                            <li>
                                                <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                                <ul>
                                                    <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                    <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                    <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                    <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                    <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                    <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                                </ul>
                                            </li>


                                            <li>
                                                <a href="~/Products/Smartphone?str=Smartphone">Mobile And Tablets</a>
                                                <ul>
                                                    <li><a href="~/Products/Mobile?str=Phone">Mobile</a></li>
                                                    <li><a href="~/Products/Tablets?str=Tablet">Tablets</a></li>
                                                    <li><a href="~/Products/MobileAccessories?str=Mobile">Mobile Accessories</a></li>

                                                </ul>
                                            </li>

                                            <li>
                                                <a href="~/Contacts/AboutUs">Contact</a>
                                                <ul>
                                                    <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                    <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                    <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                    <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                    <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                    <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                    <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                                </ul>

                                            </li>

                                        </ul>
                                    </nav>
                                </div>

                                <!--//////////////Mobile Menu///////////////////-->
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
                                        @if (ViewBag.uname != null)
                                        {
                                            <a style="font-weight:600; font-size:11px" href="~/Products/Myaccount">You</a>
                                            <a style="color:#C43B68;font-weight:600; font-size:11px" href="~/Products/


ut">Logout</a>
                                        }
                                        else
                                        {
                                            <a style="font-size:15px" href="~/Products/UserLogin">Login</a>

                                        }
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a asp-controller="Products" asp-action="Cart"><i class="icon-handbag icons"></i></a>
                                        <a href="#"><span class="htc__qua">@ViewBag.count</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form asp-action="Product_Search" asp-controller="Products" method="get">
                                    <input placeholder="Search here... " type="text" name="str">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area
            <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(~/images/bg/4.jpg) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bradcaump__inner">
                                    <nav class="bradcaump-inner">
                                      <a class="breadcrumb-item" href="index.html">Home</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <a class="breadcrumb-item" href="product-grid.html">Products</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <span class="breadcrumb-item active">ean shirt</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        End Bradcaump area -->
        <!-- Start Product Description -->
        <section class="htc__produc__decription bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ht__pro__details__content">
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">Collection of Personally Identifiable Information and other Information</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        When you use our Website, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Website to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.
                                    </p>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">




                                        In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the Website. We may automatically track certain information about you based upon your behaviour on our Website. We use this information to do internal research on our users’ demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, and your IP address.





                                    </p>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We use data collection devices such as “cookies” on certain pages of the Website to help analyze our web page flow, measure promotional effectiveness, and promote trust and safety. “Cookies” are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a “cookie”. We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are “session cookies,” meaning that they are automatically deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the Website and you may be required to re-enter your password more frequently during a session.
                                    </p>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Additionally, you may encounter “cookies” or other similar devices on certain pages of the Website that are placed by third parties. We do not control the use of cookies by third parties.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">If you choose to buy on the Website, we collect information about your buying behavior.</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        If you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card expiration date and/ or other payment instrument details and tracking information from cheques or money orders.
                                    </p>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website, we may collect such information into a file specific to you.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details, etc.) from you when you set up a free account with us. While you can browse some sections of our Website without being a registered member, certain activities (such as placing an order) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">Use of Demographic / Profile Data / Your Information</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We use personal information to provide the services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection.
                                    </p>


                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        With your consent, we will have access to your SMS, contacts in your directory, call history, location and device information and we may also collect and store your PAN and Aadhaar data to check your eligibility for certain products/services including but not limited to providing credit) being offered by us, our affiliates or our lending partners. In the event that consent to such data is withdrawn in the future, we will stop collection of such data but continue to store the data (save for Aadhaar data) and use it for internal purposes to further improve our services.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        In our efforts to continually improve our product and service offerings, we collect and analyse demographic and profile data about our users’ activity on our Website.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We identify and use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We will occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like zip code, age, or income level). We use this data to tailor your experience at our Website, providing you with content that we think you might be interested in and to display content according to your preferences.
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">Cookies</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        A “cookie” is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer’s hard drive. The cookies do not contain any of your personally identifiable information.
                                    </p>


                                   
                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">Sharing of personal information</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We may share personal information with our other corporate entities and affiliates. These entities and affiliates may market to you as a result of such sharing unless you explicitly opt-out.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        We may disclose personal information to third parties. This disclosure may be required for us to provide you access to our Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.

                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        We and our affiliates will share / sell some or all of your personal information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity, or re- organization, amalgamation, restructuring of business. Should such a transaction occur that other business entity (or the new combined entity) will be required to follow this privacy policy with respect to your personal information.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h2 class="ht__pro__title">Grievance Officer</h2>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        In accordance with Information Technology Act 2000 and rules made thereunder, the name and contact details of the Grievance Officer are provided below:
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">

                                        Mr. Parivesh Kumar

                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Braino Services
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Basement Building No. 135 Street No. 54 T,
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Ist 60 Feet Road, Molar band Extension, Badarpur, 110044
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Email: grievance@brainoservices.in
                                    </p>
                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Questions?
                                    </p>

                                    <p style="margin-top:30px; margin-bottom:30px; font-family:Arial, Helvetica, sans-serif;">
                                        Please contact us for any questions regarding this statement.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Description -->
        <!-- Start Footer Area -->
        <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer">
                                <h2 class="title__line--2">ABOUT US</h2>
                                <div class="ft__details">
                                    <p>
                                        Our company “Braino Services” is a Proprietor based company that started its business in the year 2017 at Delhi, India.


                                    </p>
                                    <div class="ft__social__link">
                                        <ul class="social__link">
                                            <li> <a href="https://www.facebook.com/brainoservices/"><i class="fa fa-facebook"></i></a></li>
                                            <li> <a href="https://www.youtube.com/watch?v=vZXJo3ZAyxM"><i class="fa fa-youtube"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Customer Service</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                        <li><a href="~/Contacts/TarrifsAndSurcharges">International Tariffs Surcharges </a></li>
                                        <li><a href="~/Contacts/ReturnPolicy">Refund  Policy</a></li>
                                        <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                        <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                        <li><a href="~/Contacts/BillingTerms">Billing Term And Condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Quick Links</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Products/Byget">Buy 1 get 1 Free</a></li>
                                        <li><a href="~/Products/Bulk">Bulk Order</a></li>
                                        <li><a href="~/Products/FingerPrint?str=Fingerprint">Biometric Products</a></li>
                                        <li><a href="~/Products/Aadhaar">Aadhaar Product And Accessories</a></li>
                                        <li><a href="~/Products/Accessories?str=Accessories">Laptop And Accessories</a></li>
                                        <li><a href="~/Home/Privacy">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Contact Us</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">Building No. 135,</a></li>
                                        <li><a href="#">Street No. 54 T,</a></li>
                                        <li><a href="#">Ist 60 Feet Road, Molarband Ext.</a></li>
                                        <li><a href="#">Badarpur New Delhi 110044.</a></li>
                                        <li>
                                            <a href="#">
                                                +917011591226

                                            </a>
                                            <a href="https://Brainoservices.in">
                                                info@Brainoservices.co.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h4 style="color:#fff;">Payment</h4>
                                <p style="color:gray; ">You can trust us</p>
                                <img style="height:350px; width:268px;" class="img-fluid" src="~/image/qrcodeforpayment.jpeg" />
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
            <!-- Start Copyright Area -->
            <div class="htc__copyright bg__cat--5">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Copyright© Braino Services <p>2023. All rights reserved. Designed & developed by Braino Services Powered by Braino Services</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/js/main.js"></script>

</body>

</html>
