@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/images/logo/6.png" type="image/png" />
    <title>Braino Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
   
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">


    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11418723675">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11418723675');
    </script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="~/Products/Allproducts"><img src="~/images/logo/5.png" alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="~/Products/Allproducts">Home</a></li>


                                        <li class="drop">
                                            <a href="~/Products/Biometrics?str=fingerprint">Biometrics</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                            </ul>
                                        </li>

                                        <li class="drop"><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>
                                        <li class="drop">
                                            <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop">
                                            <a href="~/Products/Smartphone?str=Smartphone">Mobile</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/Mobile?str=Smartphone">Mobile</a></li>

                                                <li><a href="~/Products/MobileAccessories?str=Smartphone Accessories">Mobile Accessories</a></li>

                                            </ul>
                                        </li>

                                        <li class="drop">
                                            <a href="#">Contact</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </nav>
                                <!--//////////////Mobile Menu///////////////////-->
                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="~/Products/Allproducts">Home</a></li>


                                            <li>
                                                <a href="~/Products/Biometrics?str=fingerprint">Biometrics Products</a>
                                                <ul>
                                                    <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                    <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                    <li><a href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>

                                            <li>
                                                <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                                <ul>
                                                    <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                    <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                    <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                    <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                    <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                    <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                                </ul>
                                            </li>


                                            <li>
                                                <a href="~/Products/Smartphone?str=Smartphone">Mobile And Tablets</a>
                                                <ul>
                                                    <li><a href="~/Products/Mobile?str=Phone">Mobile</a></li>
                                                    <li><a href="~/Products/Tablets?str=Tablet">Tablets</a></li>
                                                    <li><a href="~/Products/MobileAccessories?str=Mobile">Mobile Accessories</a></li>

                                                </ul>
                                            </li>

                                            <li>
                                                <a href="~/Contacts/AboutUs">Contact</a>
                                                <ul>
                                                    <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                    <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                    <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                    <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                    <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                    <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                    <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                                </ul>

                                            </li>

                                        </ul>
                                    </nav>
                                </div>

                                <!--//////////////Mobile Menu///////////////////-->
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
                                        @if (ViewBag.uname != null)
                                        {
                                            <a style="font-weight:600; font-size:11px" href="~/Products/Myaccount">You</a>
                                            <a style="color:#C43B68;font-weight:600; font-size:11px" href="~/Products/


ut">Logout</a>
                                        }
                                        else
                                        {
                                            <a style="font-size:15px" href="~/Products/UserLogin">Login</a>

                                        }
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a asp-controller="Products" asp-action="Cart"><i class="icon-handbag icons"></i></a>
                                        <a href="#"><span class="htc__qua">@ViewBag.count</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form asp-action="Product_Search" asp-controller="Products" method="get">
                                    <input placeholder="Search here... " type="text" name="str">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area
            <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(~/images/bg/4.jpg) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bradcaump__inner">
                                    <nav class="bradcaump-inner">
                                      <a class="breadcrumb-item" href="index.html">Home</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <a class="breadcrumb-item" href="product-grid.html">Products</a>
                                      <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                      <span class="breadcrumb-item active">ean shirt</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        End Bradcaump area -->
        <!-- Start Product Description -->
        <br /><br />
        <section class="htc__produc__decription bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ht__pro__details__content">
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Shipping Policy: </h3>
                                    <p style="margin-top:30px; margin-bottom:30px;">
                                        Free Shipping in All Over India.

                                        International Shipping Charges According to Tariffs and Surcharges.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Shipping Delivery Time Days :</h3>
                                    <p style="margin-top:30px; margin-bottom:30px;font-family:Arial, Helvetica, sans-serif;">
                                        All Over India 5 To 7 Days,
                                        International  15 to 30 Days



                                    </p>
                                   
                                </div>
                            </div>
                            <br />
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Refund & Cancellation Programs :</h3>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        We numerous thanks and appreciate your purchase with Braino Services. Please overlook the policy, conditions and system strictly as they ’ll offer you necessary data and tips concerning your rights The return/ relief/ refund policy is customer friendly in order that you ’ll feel easier in creating on- line shopping for call.
                                    </p>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        Our thing is to make sure your complete satisfaction along with your purchase. However, for no matter reason, you ’re disgruntled along with your purchase, If.
                                    </p>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        Please communicate customer Care before initiating come. formerly you come your product, please indicate the explanation in a veritably short note.
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <!-- End Single Content -->

                            <br />

                            
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Exchange Policy : </h3>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        Exchange of wares are allowed within the following situations
                                   </p>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        Product was broken or imperfect.
                                        Wrong Product was Packed.
                                        Product varied materially from description on web point.
                                        Or as allowed by the seller.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <br />
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Return and Refund  Policy : </h3>
                                    <br />
                                    <p style="font-family:Arial, Helvetica, sans-serif;">
                                        Still, Please communicate US, If for any reason you ’re not completely happy along with your order. we tend to are not a giant anonymous pot, we are atiny low family- run business and that we need to form certain you ’re happy along with your order.
                                    </p>
                                    <br />
                                    <p style="line-break:loose; font-family:Arial, Helvetica, sans-serif;">
                                        Client cancel the order before process the order from our finish.
                                        Product delivered to customer plant not operating and that we area unit unfit to change the item.
                                        Product delivered to wrong address and customer do not need the wares any longer.
                                        For Refund customer needs to pay each hand shipping charges.
                                        We solely pay one hand shipping charges if product is plant any disfigurement beneath warrantee quantum, This warrantee is confined solely to the producing Disfigurement and does not cowl any physical injury, injury In SPILLS OF LIQUID OR BURNT PCB.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <br />
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">

                                    <h3 class="ht__pro__title">Seven round- trip ticket Policy : </h3>
                                   
                                    <br />
                                    <p style="line-break:loose;font-family:Arial, Helvetica, sans-serif;">
                                        You are shopping for effects on- line, and that we perceive that effects will be completely different than you anticipate. For come authorization, you need to communicate us. outside seven days and inform us. Item (s) should be in new, unused condition with all retail packaging. Please note “ do not remit the effects to us. while not our authorization, we tend to are not chargeable for this”.
                                        Note come policy does not apply to bulk and special orders. we give solely exchange, Exchange value of shipping is pay by the consumers.
                                    </p>

                                </div>
                            </div>
                            <!-- End Single Content -->



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Description -->
        <br />
        <!-- Start Footer Area -->
        <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer">
                                <h2 class="title__line--2">ABOUT US</h2>
                                <div class="ft__details">
                                    <p>
                                        Our company “Braino Services” is a Proprietor based company that started its business in the year 2017 at Delhi, India.


                                    </p>
                                    <div class="ft__social__link">
                                        <ul class="social__link">
                                            <li> <a href="https://www.facebook.com/brainoservices/"><i class="fa fa-facebook"></i></a></li>
                                            <li> <a href="https://www.youtube.com/watch?v=vZXJo3ZAyxM"><i class="fa fa-youtube"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Customer Service</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                        <li><a href="~/Contacts/TarrifsAndSurcharges">International Tariffs Surcharges </a></li>
                                        <li><a href="~/Contacts/ReturnPolicy">Refund  Policy</a></li>
                                        <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                        <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                        <li><a href="~/Contacts/BillingTerms">Billing Term And Condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Quick Links</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Products/Byget">Buy 1 get 1 Free</a></li>
                                        <li><a href="~/Products/Bulk">Bulk Order</a></li>
                                        <li><a href="~/Products/FingerPrint?str=Fingerprint">Biometric Products</a></li>
                                        <li><a href="~/Products/Aadhaar">Aadhaar Product And Accessories</a></li>
                                        <li><a href="~/Products/Accessories?str=Accessories">Laptop And Accessories</a></li>
                                        <li><a href="~/Home/Privacy">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Contact Us</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">Building No. 135,</a></li>
                                        <li><a href="#">Street No. 54 T,</a></li>
                                        <li><a href="#">Ist 60 Feet Road, Molarband Ext.</a></li>
                                        <li><a href="#">Badarpur New Delhi 110044.</a></li>
                                        <li>
                                            <a href="#">
                                                +917011591226

                                            </a>
                                            <a href="https://Brainoservices.in">
                                                info@Brainoservices.co.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h4 style="color:#fff;">Payment</h4>
                                <p style="color:gray; ">You can trust us</p>
                                <img style="height:350px; width:268px;" class="img-fluid" src="~/image/qrcodeforpayment.jpeg" />
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
            <!-- Start Copyright Area -->
            <div class="htc__copyright bg__cat--5">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Copyright© Braino Services <p>2023. All rights reserved. Designed & developed by Braino Services Powered by Braino Services</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/js/main.js"></script>

</body>

</html>

