@{
    Layout = null;
   
}




<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout || Asbab - eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/css/custom.css">


    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11418723675">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11418723675');
    </script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="~/Products/Index"><img src="~/images/logo/4.png" alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="~/Products/Index">Home</a></li>


                                        <li class="drop">
                                            <a href="~/Products/Biometrics?str=fingerprint">Biometrics Products</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                <li><a href="~/Products/Addhar?str=Addhar">Addhar Product</a></li>
                                            </ul>
                                        </li>

                                        <li class="drop"><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>
                                        <li class="drop">
                                            <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop">
                                            <a href="~/Products/Smartphone?str=Smartphone">Mobile And Tablets</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Products/Mobile?str=Phone">Mobile</a></li>
                                                <li><a href="~/Products/Tablets?str=Tablet">Tablets</a></li>
                                                <li><a href="~/Products/MobileAccessories?str=Mobile">Mobile Accessories</a></li>

                                            </ul>
                                        </li>

                                        <li class="drop">
                                            <a href="#">Contact</a>
                                            <ul class="dropdown">
                                                <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </nav>
                                <!--//////////////Mobile Menu///////////////////-->
                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="~/Products/index">Home</a></li>


                                            <li>
                                                <a href="~/Products/Biometrics?str=fingerprint">Biometrics Products</a>
                                                <ul>
                                                    <li><a href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device </a></li>
                                                    <li><a href="~/Products/IRIS?str=iris">IRIS Scanner </a></li>
                                                    <li><a href="~/Products/Addhar?str=Addhar">Addhar Product</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="~/Products/FingerPrint?str=Cable">Cables</a></li>

                                            <li>
                                                <a href="~/Products/FingerPrint?str=Laptop">Laptops</a>
                                                <ul>
                                                    <li><a href="~/Products/New?str=New">New Laptops</a></li>
                                                    <li><a href="~/Products/Refurbished?str=Refurbished">Refurbished Laptops</a></li>
                                                    <li><a href="~/Products/Accessories?str=Accessories">Laptop Accessories</a></li>
                                                    <li><a href="~/Products/Bags?str=Bags">Laptop Bags</a></li>
                                                    <li><a href="~/Products/Battery?str=Battery">Laptop Battery</a></li>
                                                    <li><a href="~/Products/Charger?str=Charger">Laptop Charger</a></li>
                                                </ul>
                                            </li>


                                            <li>
                                                <a href="~/Products/Smartphone?str=Smartphone">Mobile And Tablets</a>
                                                <ul>
                                                    <li><a href="~/Products/Mobile?str=Phone">Mobile</a></li>
                                                    <li><a href="~/Products/Tablets?str=Tablet">Tablets</a></li>
                                                    <li><a href="~/Products/MobileAccessories?str=Mobile">Mobile Accessories</a></li>

                                                </ul>
                                            </li>

                                            <li>
                                                <a href="~/Contacts/AboutUs">Contact</a>
                                                <ul>
                                                    <li><a href="~/Contacts/AboutUs">About Us</a></li>
                                                    <li><a href="~/Contacts/ReturnPolicy">Return And Refund Policy</a></li>
                                                    <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                                                    <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                                                    <li><a href="~/Contacts/TarrifsAndSurcharges">International Tarrifs And Surcharges</a></li>
                                                    <li><a href="~/Contacts/BillingTerms">Billing Terms And Conditions </a></li>
                                                    <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                                                </ul>

                                            </li>

                                        </ul>
                                    </nav>
                                </div>

                                <!--//////////////Mobile Menu///////////////////-->
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
                                        @if (ViewBag.uname != null)
                                        {
                                            <a style="font-weight:600; font-size:11px" href="~/Products/Myaccount">You</a>
                                            <a style="color:#C43B68;font-weight:600; font-size:11px" href="~/Products/Logout">Logout</a>
                                        }
                                        else
                                        {
                                            <a style="font-size:15px" href="~/Products/UserLogin">Login</a>

                                        }

                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a asp-controller="Products" asp-action="Cart"><i class="icon-handbag icons"></i></a>
                                        <a href="#"><span class="htc__qua">@ViewBag.count</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Area -->
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form asp-action="Product_Search" asp-controller="Products" method="get">
                                    <input placeholder="Search here... " type="text" name="str">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap">
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/1.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$105.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/images/product-2/sm-smg/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Subtotal:</li>
                        <li class="total__price">$130.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="cart.html">View Cart</a></li>
                        <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner">
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index.html">Home</a>
                                <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                <span class="breadcrumb-item active">checkout</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="checkout-wrap ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="checkout__inner">
                            <div class="accordion-list">
                                <div class="accordion">
                                    @if (ViewBag.uname == null)
                                    {
                                        <div class="accordion__title">
                                            Checkout Method
                                        </div>

                                        <div class="accordion__body">
                                            <div class="accordion__body__form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="checkout-method__login">
                                                            <form asp-controller="Products" asp-action="Loginfromcheckout" method="post">
                                                                <h5 class="checkout-method__title">Login</h5>
                                                                <div class="single-input">
                                                                    <label for="user-email">Email Address</label>
                                                                    <input type="email" id="user-email" name="Username">
                                                                </div>
                                                                <div class="single-input">
                                                                    <label for="user-pass">Password</label>
                                                                    <input type="password" id="user-pass" name="Password">
                                                                </div>
                                                                <p class="require">* Required fields</p>
                                                                <div class="dark-btn">
                                                                    <button type="submit"><a>LogIn</a></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="checkout-method__login">
                                                            <form method="post" asp-controller="Products" asp-action="Checkout">
                                                                <h5 class="checkout-method__title">Register</h5>

                                                                <div class="single-input">
                                                                    <label for="user-name">Name</label>
                                                                    <input type="text" id="user-email" name="custname">
                                                                </div>
                                                                <div class="single-input">
                                                                    <label for="user-email">Email Address</label>
                                                                    <input type="email" id="user-email" name="email">
                                                                </div>

                                                                <div class="single-input">
                                                                    <label for="user-pass">Password</label>
                                                                    <input type="text" id="user-pass" name="password">
                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="single-input">
                                                                        <label for="street">Street Address</label>
                                                                        <input type="text" name="street">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="single-input">
                                                                        <label for="City">City/State</label>
                                                                        <input type="text" name="city">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="single-input">
                                                                        <label for="Post">Post code/ zip</label>
                                                                        <input type="text" name="post">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="single-input">
                                                                        <label for="Phone">Phone Number</label>
                                                                        <input type="text" name="phone">
                                                                    </div>
                                                                </div>
                                                                <div class="dark-btn">
                                                                    <button type="submit"><a>Register</a></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>







                                    }

                                    else
                                    {
                                        <div class="accordion__title">
                                            payment information
                                        </div>
                                        <form asp-action="Order" asp-controller="Products" method="post">
                                            <div class="accordion__body">
                                                <div class="paymentinfo">
                                                    <div class="single-method">
                                                        <input name="paytype" value="cod" type="radio"><a style="margin-left:40px;">Cash On Delivery</a>

                                                    </div>
                                                    <div class="single-method">
                                                        <input name="paytype" value="Online" type="radio"><a style="margin-left:40px;">Online</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dark-btn">
                                                <button type="submit"><a>Place Order</a></button>
                                            </div>
                                        </form>


                                    }


                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="order-details">
                            <h5 class="order-details__title">Your Order</h5>
                            <div class="order-details__item">
                                <div class="single-item">
                                    <div class="single-item__thumb">
                                        <img src="~/images/product/@ViewBag.img" alt="ordered item">
                                    </div>
                                    <div class="single-item__content">
                                        <a href="#">@ViewBag.pname</a>
                                        <span class="price">$@ViewBag.saleprice</span>
                                    </div>
                                    <div class="single-item__remove">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="order-details__count">
                                <div class="order-details__count__single">
                                    <h5>sub total</h5>
                                    <span class="price">$@ViewBag.saleprice</span>
                                </div>

                            </div>
                            <div class="ordre-details__total">
                                <h5>Order total</h5>
                                <span class="price">$@ViewBag.saleprice</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- Start Footer Area -->
        <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">

                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Custumer Service</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">International Tariffs Surcharges </a></li>
                                        <li><a href="#">Refund  Policy</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Shipping Policy</a></li>
                                        <li><a href="#">Billing Term And Condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Links List</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="~/Products/Byget">Buy 1 get 1 Free</a></li>
                                        <li><a href="~/Products/Bulk">Bulk Order</a></li>
                                        <li><a href="~/Products/FingerPrint?str=Fingerprint">Biometric Products</a></li>
                                        <li><a href="#"> <li><a href="~/Products/Aadhaar">Aadhaar Product And Accessories</a></li></a></li>
                                        <li><a href="~/Products/Accessories?str=Accessories">Laptop And Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Contact Us</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">Building No. 135,</a></li>
                                        <li><a href="#">Street No. 54 T,</a></li>
                                        <li><a href="#">Ist 60 Feet Road, Molarband Ext.</a></li>
                                        <li><a href="#">Badarpur New Delhi 110044.</a></li>
                                        <li>
                                            <a href="#">
                                                +917011591226
                                                info@shopgems.in
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->

                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
            <!-- Start Copyright Area
            <div class="htc__copyright bg__cat--5">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Copyright© <a href="https://freethemescloud.com/">Free themes Cloud</a> 2018. All right reserved.</p>
                                <a href="#"><img src="~/images/others/shape/paypol.png" alt="payment images"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            End Copyright Area -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/js/main.js"></script>

</body>

</html>

