
@{
    Layout = null;
}


<h1> Your Cart Is Empty </h1>
<img style="height:250px;width:250px;" src="~/images/product/Cart.jpg" />
<h1><a asp-action="Index" asp-controller="Products">Continue Shopping</a></h1>
